html {
    background-color: rgb(217, 243, 217);
    margin-left: 50px;
    margin-right: 50px;
}


h1, h2 {
    text-align: center;
    color: rgb(54, 54, 132);
}

h1{
    padding-top: 65px;
}

h3 {
    color: rgb(54, 54, 132);
}

a {
    /* text-align: center; */
    color: rgb(15, 95, 15);
}

a:visited {
    color: rgb(203, 80, 100);
}

a:hover {
    color: blue;
}

a:active {
    color: purple;
}

.clickable {
    text-align: center;
    background-color: rgb(232, 255, 232);
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
}

.clickable:hover {
    background-color: rgb(196, 235, 196); 
}

img {
    border-radius: 20px;
    border: 5px solid rgb(138, 205, 138); 
}

ul {
    list-style-type: circle;
}

nav {
    display: flex;
    align-content: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    background-color: rgb(138, 205, 138);
    padding: 10px 25px;
    width: max-content;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    padding: 10px 5px;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.lists div {
    background-color: rgb(232, 255, 232);
    padding: 10px 30px;
    width: 400px;
    border-radius: 20px;
}

.vert-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.vert-lists .list-component {
    background-color: rgb(232, 255, 232);
    padding: 10px 30px;
    width: 1100px;
    border-radius: 20px;
}

.vert-lists ol {
    display: flex;
    justify-content: center;
    gap: 30px;
}