html {
    background-color: rgb(217, 243, 217);
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    text-align: center;
    color: rgb(54, 54, 132);
}

h2, h3 {
    color: rgb(54, 54, 132);
}

a {
    color: rgb(15, 95, 15);
}

a:visited {
    color: rgb(203, 80, 100);
}

a:hover {
    color: blue;
}

a:active {
    color: purple;
}

img {
    border-radius: 20px;
    border: 5px solid rgb(138, 205, 138); 
}

ul {
    list-style-type: circle;
}

nav {
    display: flex;
    align-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    background-color: rgb(138, 205, 138);
    padding: 10px 25px;
    width: max-content;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}